#sideab{
    padding: 4pt;
    margin: 2px;
    font-family: monospace;
    font-size: 16px;
}
#sidebc{
    padding: 4pt;
    margin: 2px;
    font-family: monospace;
    font-size: 16px;
}
#sideca{
    padding: 4pt;
    margin: 2px;
    font-family: monospace;
    font-size: 16px;
}
.icon{
    float: left;
    position: relative;
}
#demo{
    position: relative;
    float: left;
    color:black;
    width: 120pt;
    height: 50px;
    padding-right: 50px;
    background-color: #23f90f
}