@import url(bootstrap.css);
@import url('https://fonts.googleapis.com/css?family=Ultra&display=swap');
.index-1{
    position: absolute;
    z-index: -1;
}
.center{
    align-items: center;
}
.container{
    color: beige;
    font-family: 'Nanum Gothic';
}